:root {

}

.cabeçalho{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items:center;
    background-color:blanchedalmond;
    height: 30vh;
    gap: 10px;
    background-color: var(--cor-principal);
}